{# index.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="stylesheet" href="assets/css/main.css">
  <title>Suite Vip</title>
  <!-- Importacion del jQuery -->
	<script src="assets/js/lib/jquery-3.7.0.min.js"></script>
	<script src="assets/js/lib/jquery-ui.min.js"></script>
	<script src="assets/js/lib/datepicker-es.js"></script>
</head>
<body>
<div class="container">    
    <div class="main">
        <div class="main-left">
           <div class="hotel-div" id="contenido-hotel"></div>   
           <div class="flexible-div flexible-div-hide" id="contenido-flex"></div>
           <div class="offer-div offer-div-hide" id="contenido-offer"></div>
           <div class="info-div info-div-hide" id="contenido-info"></div>
           <div class="activities-div" id="contenido-activities" data-lista='{{ lista }}'></div>   
        </div>   
        <div class="main-right">
            <div class="selection-div" id="contenido-selection"></div> 
        </div>
    </div>
</div>
<script src="assets/js/app.js">
</script>
</body>
</html>

