<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
 <link rel="stylesheet" href="assets/css/style.css">
  <title>Flexible</title>
</head>
<body>
<div class="container-flex">    
    <div id="flexible-window-div" class="flexible-window">
        <div class="flexible-window-title  grid-windows">
            <h1>Flexible</h1>
            <div class="flex-close-icon" id="flex-close-icon">
                {% include 'assets/images/cerrar.svg' %}
            </div>
        </div>
        <div class="flexible-window-text ">
            <h2>Cancelación gratuita</h2>
            <p>Habitacion con cama de matrimonio, spa y Jacuzi. Cama de 200cm. impedit asperiores dolorum numquam molestiae hic libero maiores veniam minus error illo quisquam distinctio, laudantium </p>
        </div>
    </div>
</div>

</body>
</html>