<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  
  <title>Offer</title>
</head>
<body>
<div class="container-offer">    
    <div id="offer-window-div" class="offer-window windows-div">
        <div class="offer-window-title windows-title grid-windows">
            <h1>Oferta</h1>
            <div class="flex-close-icon offer-close-icon" id="offer-close-icon">
                {% include 'assets/images/cerrar.svg' %}
            </div>
            
        </div>
        <div class="offer-window-text windows-div-text">
            <h2>Oferta finde semana romántico</h2>
            <p>Habitacion con cama de matrimonio, spa y Jacuzi. Cama de 200cm. impedit asperiores dolorum numquam molestiae hic libero maiores veniam minus error illo quisquam distinctio, laudantium </p>
        </div>
    </div>
</div>

</body>
</html>