
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
    font-family: var(--arial);
}
p{
    font-size: var(--font-size-paragraph);
}

.container-activities{
  
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-info-gray);
    
   
}

.activity-section{
    border-radius: 20px;
   
    margin-top: 20px;
    background-color: var(--white);
    
}
.activities-detail{
   
    display: flex;
}
.activities-detail img{
    height:100%;
    object-fit: cover; 
    border-top-left-radius: 20px;
}
.activities-detail-description{
    padding: 20px 30px 20px 20px;
}
.activities-detail-description h2{
    font-size: var(--font-size-h2);
    font-weight: normal;
    padding-bottom: 10px;
    color: var(--h2-color-opacity08);
}
.icon-activity-bottom-js{
    width: var(--width-size-icons-hotel-top);
    height: var(--height-size-icons-hotel-top);
}
.activity-bottom-img-div{
    position: relative;
    
}
.activity-bottom-img-div .main-icon{
    position: absolute;
    right: 5%;
    bottom: 5%;
    fill:var( --icons-color-black);
    width: var(--width-size-icons-hotel-top);
    height: var(--height-size-icons-hotel-top);
}
.activities-detail-description p{
    color: var(--paragraph-color-opacity05);
    padding-bottom: 15px;
}
.main-activity-description-buttons, .activity-bottom-details-description-buttons{
    display: flex;
    justify-content: space-between;
}
.btn-more-button,.btn-reservar-button{
    font-size: var(--font-size-button);
    color: var(--button-color-opacity06);
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    background-color: var(--background-activity-button);
}
.calendario-icon,.hora-icon{
    fill-rule:nonzero;
    fill: var(--icons-calendar-clock-activities-color);
    width: var(--width-size-icons-activities-calendar-clock);
    height: var(--height-size-icons-activities-calendar-clock);
}
.mas-icon,.menos-icon{
    fill:var(--icons-more-less-activities-color);
    width: var(--width-size-icons-activities-more-less);
    height: var(--height-size-icons-activities-more-less);
}
.carrito-icon{
    fill:var(--icon-carrito-activities-color);
    width: var(--width-size-icons-activities-carrito);
    height: var(--height-size-icons-activities-carrito);
}
.second-activity-div{
    max-height: 0px;
    overflow: hidden;
}
.activities-detail-description .btn-more-button{
    background-color: var(--background-info-gray);
    margin-right: 10px;
}

.dia-semana span{
    text-transform: capitalize;
}
.fecha-hora-container{
    display: flex;
    gap: 10px;
    align-items: baseline;
    font-size: var(--font-size-paragraph);
    border: 1px solid hsla(0, 0%, 0%,0.5);
    border-radius: 20px;
    padding: 2px 30px 2px 20px;
    margin: 0px 15px 15px 15px;
}
.input-fecha-hora{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
input[name="fecha-hora"] {
    background: none; /* Puedes cambiar #fff por el color que prefieras */
    color: black;
}
.icono-fecha{
    margin-right: 25px;
}
.ocultar-icono {
    border: none;
    outline: none;
}

.ocultar-icono::after {
    content: 'h';
    margin-left: -15px;

  }
      /* Ocultar el icono en navegadores basados en WebKit, como Chrome y Safari */

.ocultar-icono::-webkit-calendar-picker-indicator {
    display: none;
}
   /* Ocultar el botón de calendario en Chrome */  
.ocultar-icono::-webkit-datetime-edit-calendar-button {
    display: none;
 
}
.show-hora .icono-hora,
.show-hora .input-fecha-hora {
  display: block;
}

.show-hora .dia-semana {
  display: none;
}
.activity-bottom-prices{
    margin: 0px 18px;
    background-color: var(--white);
}
.first-activity-bottom-prices-p, .activity-prices-first-tr, .activity-prices-fourth-tr{
    padding-left: 10px;
}
.activity-prices-first-tr,.prices-trs-inners {
    display: grid;
    /* width: 100%; */
    grid-template-columns: 2fr 0.5fr 0.5fr;
    gap: 4px;
    
}
.prices-trs-inners{
    border-radius: 10px;
    margin-top: 5px;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.prices-trs h3{
    font-size: var(--font-size-h3);
}
.prices-trs .prices-first-td  p{
    color: var(--paragraph-color-opacity05);
}
.prices-ths{
    color: var(--paragraph-color-opacity05);
}
.prices-second-th,.prices-third-th{
    text-align: center;
}

.prices-first-td,.prices-second-td,.prices-third-td{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background-color: var(--background-info-gray);
}

.prices-second-td,.prices-third-td {
    display: flex;
    justify-content: center;
    align-items: center;
}
.activity-prices-third-tr{
    margin-bottom: 22px;
}
.activity-prices-first-tr,.activity-prices-fourth-tr{
    background-color: var(--white);
}
.btn_mas_evnt,.btn_menos_evnt,.buttons{
    cursor: pointer;
}
.prices-third-td{
    display: flex;
}
.prices-third-td span{
    margin: 0px 7px 0px 15px;
}
.activity-prices-fifth-tr{
    margin-bottom: 70px;
}
.activity-div-summary{
    margin: 0px 45px 30px 45px;
    display: grid;
    grid-template-columns: 0.9fr 1fr;
    gap: 25%;
    align-items: center;
}
.activity-div-summary-details p{
    color: var(--paragraph-color-opacity07);
}
.activity-div-summary-tickets-prices{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}
.activity-div-summary-tickets-prices p{
    margin-top: 5px;
    font-size: 17px;
}
.activity-div-summary-tickets-prices .activity-div-summary-total{
    font-size: 23px;
    color: black;
    font-weight: bold;
}

.activity-buttom-summary{
    
    background-color: var(--background-activity-button);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    gap: 10px;
    max-width: 300px;
    margin: 0px auto;
}
.activity-buttom-summary p{
    color: var(--button-color-opacity06);
    font-size: 19px;
}
.cancel-button{
    background-color: hsl(5, 64%, 48%);
    color: var(--white);
}
.ocultar-div{
    max-height: 0;
        opacity: 0;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
}
.decrease-ammount-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .increase-ammount-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
@media screen and (max-width: 750px){
    
    .activity-div-summary{
        width: 60%;
        grid-template-columns: 1fr;
        text-align: center;
        margin: 0px auto 50px auto;
    }
    
}
@media screen and (max-width: 580px){
.activity-prices-first-tr{
        grid-template-columns: 1.75fr 0.5fr 0.65fr;
    }

.activity-bottom-details-description-buttons,.main-activity-description-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.btn-more-button, .btn-reservar-button{
    width: 100%;
}
.activities-detail-description .btn-more-button{
    margin-right: 0px;
}
}
@media screen and (max-width: 450px){
    .activity-prices-first-tr{
        grid-template-columns: 1.60fr 0.7fr 0.70fr;
    }
    .icono-fecha{
        margin-right: 0px;
    }
    .activities-detail-description .buttons{
        width: 100%;
    }
    .prices-third-td span{
        margin: 0px 7px 0px 0px;
    }
}


.slide-down{
    animation: slideDown 2s linear forwards;
    margin-top: 20px;
    transition:  margin-top 1s;
}
@keyframes slideDown {
    0% {
        max-height: 1px;
    }
    100% {
        max-height: 2200px;
       
    }
}

@keyframes childAnimation {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  

.slide-up {
    animation: slideUp 0.01s linear forwards;
    margin-top: 0px;
    transition: margin-top 0.01s;
}
.child-animation{
    animation: childAnimation 0.1s forwards;
}
  
  @keyframes slideUp {
    0% {
        max-height: 2200px;
        
    }

    100% {
        max-height: 0px;
    }
  }