
*{
	box-sizing: border-box; 
	margin: 0;
	padding: 0;
    font-family: var(--arial);
}
body{
    background-color: var(--background-info-gray);
    min-height: 100%;
}
.container{
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--background-info-gray);
    overflow-x: hidden;
}
.main{
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    column-gap: 35px;
    align-items: top;
}
.selection-div{
    width: 100%;
}
.activities-div{
    position: relative;
    z-index: 1;
    width: 100%;
    
}
.flexible-div{
    position: absolute;
    z-index: 2;
    right: 3%;
    top: 38%;
    width: 35%;
}
.flexible-div-hide{
    display: none;
}
.info-div{
    width: 25%;

    z-index: 2;
    position: absolute;
    left: 5%;
    top: 15%;
}
.info-div-hide{
    display: none;
}
.offer-div{
    left: 7%;
    top: 39%;
    width: 35%;
    position: absolute;
    z-index: 2;
}
.offer-div-hide{
    display: none;
}
.flex-close-icon{
    width: var(--width-size-icons-style);
    height: var(--height-size-icons-style);
    justify-self: left;

}
.flex-close-icon .close-icon{
    fill:var(--close-icons-color);
    fill-rule:nonzero;
}
.grid-windows{
    display: grid;
    grid-template-columns: 1.9fr 0.1fr;
    align-items: top;
}
.show-element{
    display: block;
}
@media screen and (max-width: 600px){
    .flexible-div{
        position: absolute;
        right: 3%;
        top: 39%;
        width: 35%;
    }
}